@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');

.tour-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8rem 3rem;
  user-select: none;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(226, 226, 226);
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;

  @media screen and (max-width: 900px) {
    grid-template-rows: 1fr 8rem 3rem;
  }

  &__img-wrapper {
    overflow: hidden;
  }

  &__duration {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    color: #fff;
    background: var(--primaryColor);
    text-align: center;
    z-index: 10;
  }

  &__duration-days {
    height: 38px;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 1.7rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    display: block;
    margin-top: .1rem;
  }

  &__duration-text {
    display: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.1rem;
    font-family: "Nunito";
    margin-top: -1.1rem;
  }

  &__img {
    width: 100%;
    z-index: 1;
    opacity: .9;
    object-fit: cover;
    display: block;

    transition: .5s ease;
    opacity: 0.8;

    @media screen and (min-width: 900px) {
      height: 245px;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      backface-visibility: hidden;
      cursor: pointer;
    }
  }

  &__img:hover {
    opacity: 1 !important;
  }

  &__name {
    margin: 0;
    padding: 0 2rem;
    font-size: 1.9rem;
    color: rgb(63, 63, 63);
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    z-index: 10;

    @media screen and (max-width: 500px) {
      font-size: 1.9rem;
    }
  }

  &__price-offer {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Nunito";
    font-weight: bold;
    color: rgb(63, 63, 63);

    span {
      margin-left: .5rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--primaryColor);
    }
  }

  &__btn-wrapper {
    padding: 1rem;
  }

  &__btn {
    width: 100%;

    &:hover {
      background-color: #0ba889;
      color: #fff;
    }

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }
}