.blog-sidebar {
  border: .1rem solid var(--mainGrey);
  height: 80rem;
  border-radius: .4rem;

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    padding: 2rem;
    color: var(--primaryColor);
  }

  @media only screen and (max-width: 1020px) {
    height: auto;
  }
}