.about-container {
  grid-column: center-start / center-end;
  margin: 8rem 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 4rem;

  @media only screen and (max-width: 1050px) {
    grid-column: full-start / full-end;
    margin: 6rem 2rem;
  }

  .about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 35rem;

    @media only screen and (max-width: 1200px) {
      height: 40rem;
    }

    @media only screen and (max-width: 730px) {
      grid-template-columns: 1fr;
      height: auto;

      .experts-content {
        grid-row: 1;
      }

      .experts-image {
        grid-row: 2;
      }

      .guides-content {
        grid-row: 1;
      }

      .guides-image {
        grid-row: 2;
      }

      .groups-content {
        grid-row: 1;
      }

      .groups-image {
        grid-row: 2;
      }

      .peace-content {
        grid-row: 1;
      }

      .peace-image {
        grid-row: 2;
      }
    }

    figure {
      height: inherit;
    }

    &__image {
      width: 100%;
      height: 35rem;
      display: block;
      object-fit: cover;

      @media only screen and (max-width: 1200px) {
        height: 40rem;
      }

      @media only screen and (max-width: 465px) {
        height: 26rem;
      }
    }

    &__content {
      display: grid;
      grid-template-rows: .4fr 1.6fr;
      padding: 2rem 5rem;

      @media only screen and (max-width: 1050px) {
        padding: 1rem 3rem;
      }

      @media only screen and (max-width: 850px) {
        grid-template-rows: 8.5rem 30rem;
      }

      @media only screen and (max-width: 730px) {
        grid-template-rows: min-content min-content;
        padding: 1rem 0;
      }

      .title {
        font-size: 3rem;
        letter-spacing: 2px;
        color: var(--primaryColor);
        display: flex;
        align-self: center;
        margin: 0;
      }

      .text {
        font-size: 1.7rem;
        color: var(--darkGrey);
        margin: 0;
        padding: 1rem 0;

        @media only screen and (max-width: 1050px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}