@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Serif&display=swap');

:root {
  --primaryColor: #26c7ac;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  // font-size: 1rem;
  margin-top: 66px;

  font-size: 62.5%;
  /* 10px/16px = 62.5%; */

  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
      [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.defaultHero {
  min-height: calc(100vh - 66px);
  background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../images/hero.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white,
.btn-primary {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  z-index: 100;
}

.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.error {
  background: var(--primaryColor);
  min-height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
}