.tours-wrapper {
  margin: 10rem 0;

  @media screen and (max-width: 500px) {
    margin: 6rem 0;
  }
}

.tours {
  grid-column: center-start / center-end;
  margin: 4rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 3rem;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    grid-column: full-start / full-end;
    margin: 0 2rem;
  }
}