.footer {
  background: var(--mainBlack);
  padding: 2rem;
  text-align: center;
  color: var(--mainWhite);
  margin-top: auto;

  .links a {
    display: inline-block;
    text-decoration: none;
    color: var(--mainWhite);
    margin: 0.5rem 1rem;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
    font-size: 16px;
    font-family: Lato;

    &:hover {
      color: var(--primaryColor);
    }
  }

  .icons a {
    display: inline-block;
    margin: 1rem;
    font-size: 1.3rem;
    color: var(--mainWhite);
    transition: var(--mainTransition);

    &:hover {
      color: var(--primaryColor);
    }
  }

  .copyright {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    line-height: 2;
    font-size: 13px;
  }
}