.blog-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem .5fr;
  margin-bottom: 4rem;
  border: .1rem solid rgb(226, 226, 226);
  border-radius: .4rem;
  padding: 1.2rem 1rem;

  @media screen and (max-width: 500px) {
    grid-template-rows: 16rem .5fr;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr .3fr 2fr .5fr;
    grid-row-gap: 1rem;
    padding: 2rem;


    @media screen and (max-width: 500px) {
      grid-template-rows: .8fr .2fr 1.2fr .4fr;
      padding: .5rem;
    }
  }

  &__title,
  &__published,
  &__intro {
    margin: 0;
    align-self: center;
  }

  &__title {
    font-size: 3rem;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--primaryColor);

    @media screen and (max-width: 500px) {
      font-size: 2.4rem;
    }
  }

  &__published {
    font-size: 1.7rem;
    color: #585858;

    @media only screen and (max-width: 475px) {
      font-size: 1.4rem;
      align-self: start;
    }
  }

  &__intro {
    font-size: 1.7rem;
    color: #484848;

    @media screen and (max-width: 500px) {
      font-size: 1.6rem;
    }
  }


  &__btn {
    width: 20vw;

    &:hover {
      background-color: #0ba889;
      color: #fff;
    }

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 900px) {
      width: 20rem;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 1.2rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}