.blog-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem 0.5fr;
  margin-bottom: 4rem;
  border: 0.1rem solid var(--mainGrey);
  border-radius: 0.4rem;
  padding: 1.2rem 1rem;

  @media screen and (max-width: 500px) {
    grid-template-rows: 16rem 0.5fr;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr 0.3fr 2fr 0.5fr;
    grid-row-gap: 1rem;
    padding: 2rem;

    @media screen and (max-width: 500px) {
      grid-template-rows: 0.8fr 0.2fr 1.2fr 0.4fr;
      padding: 0.5rem;
    }
  }

  &__title,
  &__published,
  &__intro {
    margin: 0;
    align-self: center;
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--primaryColor);

    @media screen and (max-width: 500px) {
      font-size: 2.4rem;
    }
  }

  &__published {
    font-size: 1.7rem;
    color: var(--lightGrey);

    @media only screen and (max-width: 475px) {
      font-size: 1.4rem;
      align-self: start;
    }
  }

  &__intro {
    font-size: 1.7rem;
    color: var(--darkGrey);

    @media screen and (max-width: 500px) {
      font-size: 1.6rem;
    }
  }

  &__btn {
    width: 20rem;

    &:hover {
      background-color: #0ba889;
      color: var(--mainWhite);
    }

    @media screen and (max-width: 900px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 1.2rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}
