.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);

  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: 6px;
  }

  p {
    width: 85%;
    letter-spacing: 6px;
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #fff;

    font-family: "Nunito";
    font-weight: 700;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    width: 73%;

    h1 {
      font-size: 8rem;
    }

    p {
      width: 70%;
    }
  }
}